student {
  display: block;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

/*student::before {
  content: "Status: " attr(status);
  display: block;
  font-style: italic;
  color: #555;
} */

name, first, middle, last, preferred {
  display: block;
  font-weight: bold;

}

id, email, phone, yearStatus, gpa, major, minor, enrollmentStatus, advisor, initialEnrollment, graduationDate {
  display: block;
  margin-left: 1em;
}
